
<div class="container">
  <h1>TO DO APP</h1>
  <hr>

<form class="form" #f="ngForm" (ngSubmit)="onSubmit(f)">
  <input type="text" name="title"id="title" ngModel/>
<button class="button" type="submit">Add your TO  DO</button>
</form>


<div *ngIf="!todoList?.length" >
  Your Todo List is Empty!
</div>



<div>
  <ul>
    <li class="list-item" *ngFor="let todo of todoList; let i = index">
      <input name="toggle" type="checkbox" [checked]="todo.isDone" (change)="toggleComplete(todo.id)" />
     <span [class.completed]="todo.isDone">  {{ todo.title }} </span>
      <button class="button" (click)="onDelete(todo.id)">Delete</button>
    </li>
  </ul>
</div>
<div><random-quote></random-quote></div>
</div>